footer{
    color: $grey-footer;
    font-family: $font-footer;
    font-size: pxToRem(14);
    text-align: center;
    padding: pxToRem(24) 0;

    a{
        color: inherit;
        font-weight: bold;
        font-size: inherit;
    }
}