@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Playfair+Display:ital,wght@0,700;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0; }

body {
  color: black;
  font-size: 16;
  font-family: "Montserrat", sans-serif; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", serif; }

ul {
  list-style: none; }

.container {
  width: 100%;
  max-width: 969px;
  padding: 0 0.75rem;
  position: relative;
  margin: auto; }
  @media (min-width: 615px) {
    .container {
      padding: 0 1.5rem; } }

.page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .page-header {
    padding-top: 2rem; }
    @media (min-width: 615px) {
      .page-header {
        margin-bottom: 1.875rem; } }
    @media (min-width: 750px) {
      .page-header {
        margin-bottom: 3rem; } }
    .page-header h1 {
      font-size: 1.5rem;
      margin-bottom: 0.75rem; }
      @media (min-width: 615px) {
        .page-header h1 {
          font-size: 1.875rem; } }
      @media (min-width: 750px) {
        .page-header h1 {
          font-size: 3rem; } }
    .page-header p {
      width: 320px;
      position: relative;
      font-size: 0.75rem;
      padding-left: 1.5rem;
      margin-bottom: 1.5rem; }
      @media (min-width: 615px) {
        .page-header p {
          width: 592px;
          font-style: italic; } }
      @media (min-width: 750px) {
        .page-header p {
          font-size: 0.875rem; } }
      .page-header p img {
        position: absolute;
        left: 0; }
    .page-header-image {
      width: 100%; }
  @media (min-width: 615px) {
    .page > .container {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between; } }

@media (min-width: 750px) {
  main {
    width: 599px;
    padding-right: 1.25rem;
    margin-bottom: 3.5625rem; } }
main .ingredients {
  color: #333; }
  main .ingredients li {
    margin-bottom: 0.75rem; }
    main .ingredients li label {
      display: flex;
      align-items: flex-start;
      font-size: 0.875rem; }
      @media (min-width: 750px) {
        main .ingredients li label {
          font-size: 1rem; } }
      main .ingredients li label span {
        line-height: 1.5625rem; }
      main .ingredients li label i {
        font-weight: 500; }
      main .ingredients li label input[type=checkbox] {
        display: none; }
        main .ingredients li label input[type=checkbox] + div {
          width: 21px;
          height: 21px;
          border-radius: 4px;
          flex-shrink: 0;
          border: solid 2px #828282;
          margin-right: 0.5rem;
          background-size: cover;
          overflow: hidden;
          position: relative; }
          main .ingredients li label input[type=checkbox] + div::before {
            content: '';
            position: absolute;
            inset: 0;
            margin: auto;
            background: url(../svgs/icon-check.svg) no-repeat center center;
            background-size: cover;
            transition: opacity .2s ease, transform .2s ease;
            opacity: 0;
            transform: rotate(-90deg) scale(0.5); }
        main .ingredients li label input[type=checkbox]:checked + div:before {
          opacity: 1;
          transform: rotate(0) scale(1); }
        main .ingredients li label input[type=checkbox]:checked + div + span {
          text-decoration: line-through; }
  main .ingredients article {
    margin-bottom: 2.625rem; }
main .instructions dl {
  display: flex;
  margin-bottom: 1.5625rem; }
  main .instructions dl dt {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 6px;
    background-color: #F2994A;
    font-family: "Playfair Display", serif;
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
    margin-right: 0.9375rem; }
  main .instructions dl dd {
    line-height: 1.5rem; }
main section h2 {
  font-size: 1.5rem;
  margin-bottom: 1.75rem; }
main section h3 {
  font-size: 1.125rem;
  margin-bottom: 0.8125rem; }
main section article h3 {
  font-size: 1rem;
  font-style: italic;
  font-weight: 400;
  margin-bottom: 1.5rem; }
@media (min-width: 750px) {
  main section h3 {
    font-size: 1.5rem;
    margin-bottom: 2rem; }
  main section article h3 {
    font-size: 1.125rem;
    margin-bottom: 1.875rem; } }

.source {
  color: #BDBDBD;
  font-size: 0.75rem;
  margin-bottom: 7.5rem; }
  .source a {
    display: block;
    color: inherit;
    text-decoration: none;
    font-size: inherit; }
  @media (min-width: 615px) {
    .source a {
      display: inline; } }
  @media (min-width: 750px) {
    .source {
      font-size: 1rem; } }

aside {
  margin: 0.9375rem 0 0.625rem 0; }
  aside .details > section {
    display: flex; }
    aside .details > section:first-child dl {
      color: #F2994A; }
    aside .details > section dl {
      flex-shrink: 0;
      width: 33.3%;
      display: flex;
      align-items: center;
      color: #333;
      margin-bottom: 1.6875rem; }
      aside .details > section dl dt {
        margin-right: 0.3125rem;
        flex-shrink: 0; }
        aside .details > section dl dt img {
          width: 17px;
          height: 17px; }
      aside .details > section dl dd {
        font-size: 0.625rem; }
        aside .details > section dl dd b {
          font-size: 0.5rem;
          color: #BDBDBD;
          display: block; }
  @media (min-width: 615px) {
    aside .details {
      width: 150px;
      padding: 1.5rem 1.5rem 0.5rem 1.5rem;
      box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
      border-radius: 0.75rem; }
      aside .details > section {
        flex-direction: column; }
        aside .details > section dl {
          width: 100%; } }
  @media (min-width: 750px) {
    aside .details {
      width: 216px;
      padding: 3.5625rem 2.5rem 3.0625rem 2.5rem; }
      aside .details > section dl dt {
        margin-right: 0.84375rem; }
        aside .details > section dl dt img {
          width: 34px;
          height: 34px; }
      aside .details > section dl dd {
        font-size: 0.875rem; }
        aside .details > section dl dd b {
          font-size: 0.625rem; } }

footer {
  color: #828282;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  text-align: center;
  padding: 1.5rem 0; }
  footer a {
    color: inherit;
    font-weight: bold;
    font-size: inherit; }

/*# sourceMappingURL=style.css.map */
